@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body{
	background-color: #e0e0e0;
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;
}

#title{
	margin-bottom: 10px;
}

#container{
	max-width: 600px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	border-left: 1px black solid;
	border-right: 1px black solid;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;

	-webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
}

#vidTitle{
	text-align: center;
	font-size: 200%;

}

#vid{
	display: inline-block;
	float: left;
}

#vidAnnotation{
	float:right;
	width: 190px;
	height: 210px;
	background-color: #333;
	/* background-color: #806060;  /*was once 666 rock SOC */
	background-image: url('resources/noAnnotations.png');
	background-size: 80% auto;
	background-position: 50% 15%;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 5px;
	overflow:hidden;
}

#vidAnnotationInner{
	width: 190px;
	height: 210px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#annotationButton{
	font-family: calibri;
	float: right;
	margin-top: 20px;
	margin-right: 40px;
}

#addAnnotation{
	color: #000000;
	text-decoration: none;
	font-weight: bold;

	border: solid;
	border-color: #222222;
	background-color: #DDDDDD;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 5px;
}
#addAnnotation:hover{
	background-color: #AAAAAA;
}
#addAnnotation:active{
	background-color: #EE0000;
}

.vidAnnotationType{
	font-size: 50%;
	text-transform: uppercase;
}

.vidAnnotationTimes{
	font-size: 70%;
}

.vidAnnotationContent{
	font-size: 120%;
	color: #FFF;
	word-wrap: break-word;
}

#vidAnnotationInner > ul > li{
	padding: 10px;
}

#vidAnnotationInner > ul > li:nth-child(odd) {
    background-color: #597c56;
}

#vidAnnotationInner > ul > li:nth-child(even) {
    background-color: #6a9666;
}

#vidAnnotationInner > ul > li > .vidAnnotationContent > img{
	border: 2px black solid;
}

#vid-overlay {
	/* this makes annotations actually work - pls don't break */
	position: absolute;
	z-index: 3000;


}

#vidContainer{
	background-color: #333;
}

.removeAnnotation{
	float: right;
	text-decoration: none;
	color: #555555;
	font-weight: bold;
	font-size: 16px;
}

.removeAnnotation:hover{
	color: #FF0000;
}
