@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body{
	background-color: #e0e0e0;
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;
}

#title{
	margin-bottom: 10px;
}

#container{
	max-width: 600px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	border-left: 1px black solid;
	border-right: 1px black solid;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;

	-webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
}

#vidTitle{
	text-align: center;
	font-size: 200%;
	/*margin-top: -140px;*/
}

#vid{
	display: inline-block;
	float: left;
}

#vidAnnotation{
	float:right;
	width: 190px;
	height: 210px;
	background-color: #333;
	/* background-color: #806060;  /* was once 666 rock SOC */
	background-image: url('resources/noAnnotations.png');
	background-size: 80% auto;
	background-position: 50% 15%;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 5px;
	overflow:hidden;
}

#vidAnnotationInner{
	width: 190px;
	height: 210px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#annotationButton{
	font-family: 'Roboto Condensed', 'Helvetica Neue', 'Calibri', sans-serif;
	float: right;
	margin-top: 20px;
	margin-right: 40px;
}

#addAnnotation{
	color: #000000;
	text-decoration: none;
	font-weight: bold;

	border: solid;
	border-color: #222222;
	background-color: #DDDDDD;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 5px;
}

#addAnnotation:hover{
	background-color: #AAAAAA;
}


.vidAnnotationType{
	font-size: 50%;
	text-transform: uppercase;
}

.vidAnnotationTimes{
	font-size: 70%;
}

.vidAnnotationContent{
	font-size: 120%;
	color: #FFF;
	word-wrap: break-word;
}

#vidAnnotationInner > ul > li{
	padding: 10px;
}

#vidAnnotationInner > ul > li > .vidAnnotationContent > img{
	border: 2px black solid;
}

#vid-overlay {
	/* this makes annotations actually work - pls don't break */
	position: absolute;
	/*z-index: 3000;*/
}

#vid-canvas {
	/* this makes box drawing actually work - pls don't break */
	position: absolute;
	z-index: 2000;
	margin: 0;
	padding: 0;
}

#vidContainer{
	background-color: #333;
}

#informationalText{
	float: left;
	font-weight: bold;
}

.removeAnnotation{
	float: right;
	text-decoration: none;
	color: #555555;
	font-weight: bold;
	font-size: 16px;
}

.removeAnnotation:hover{
	color: #FF0000;
}

#addAnnotationForm{
	width: 175px;
	height: 180px;
	position: relative;
	padding: 10px;
	background-color: #597c56;
	border: 2px solid #333;
	color: #FFF;
	left: 400px;
	top: 60px;
	z-index: 4000;
}

#addAnnotationForm textarea{
	resize: none;
}

.form-colour-container {
	display: inline;
}

.form-colour-container div{
	vertical-align: middle;
	display: inline-table;
}


.colour-button {
	width: 30px;
	padding: 4px;
	height: 20px;
	border: 1px solid #666;
	border-radius: 5px;
	background: #eee;

}

.cp-color-picker{
	/* make sure it can be seen over all of the other ridiculous z indicies!! */
	z-index: 5000;
}

a.control{
	color: #000000;
	text-decoration: none;
	border: solid;
	border-color: #222222;
	background-color: #DDDDDD;
	padding: 2px;
	min-width: 40px;
	text-align: center;
	height: 16px;

	/* copying and pasting button text does not look pro... */
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.player-button {
	float: left; /* to float or not to float, that is the question */

}

a.control:hover {
	background-color: #AAAAAA;
}

.padded-button {
	/* using !important as a quick hack to override a.control's padding! */
	padding: 5px !important;
	/* living on the edge. */

	margin-right: 5px;
}


/* Quite a bit of these CSS Selectors are from http://cssdeck.com/labs/styling-html5-progress-bars */

#progress{
	width: 200px;
	height: 16px;
	margin-left: 5px;
	margin-top: 5px;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

progress::-webkit-progress-bar {
	background-color: #333;
	border-radius: 10px;
	padding: 2px;
}

/* Now the value part */
progress::-webkit-progress-value {
	/* boder radius must equal the border radius in the selector above! */
	border-radius: 10px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background-color: #597c56;

}

/*setting up form tags*/
#tabNav{
	height: 40px;
	width: auto;
	line-height: 40px;
	overflow: hidden;
	margin-top: -52px;
	margin-bottom: 10px;
	background-color: #597c56;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 2px black solid;
	border-bottom: 0px;
}

#tabNav > li{
	width: 100px;
	height: 25px;
	display: inline;
}

#tabNav .selected{
	background-color: #AAAAAA;
}

.annotation-on-screen{
	font-size: 16px;
}
